.forms {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.size {
    width: 50%;
}
.container form {
    display: flex;
    flex-direction: column;
}
#serverLog {
    display: none;
}